<!DOCTYPE html>
<html lang="es">

<head>
  <!--Metadatos-->
  <meta charset="UTF-8">
  <meta name="author" content="Desarrolladores: Andres Cardenas y Jeisson Velosa, Base de datos: Miguel Castañeda">
  <meta name="description" content="Registro de votaciones COOPUN">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--Bootstrap-->
  <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css">
  <!--CSS-->
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <link href="/stylesheets/styleloggin.css" rel="stylesheet">
  <!--Titulo-->
  <title>Sistema de votación</title>
  <!--Favicon-->
  <link rel="icon" type="image/x-icon" href="/images/favicon_cpun.png">
</head>

<body>
  <!-- Encabezado -->
  <header>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-md bg-body-tertiary">
      <div class="container-fluid">
        <!-- Botón dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Logotipo y enlaces de navegación -->
        <div class="collapse navbar-collapse" id="navbarToggler">
          <a class="navbar-brand">
            <figure>
              <img src="/images/logo_cpun.png" width="250" alt="Logo de la página web">
            </figure>
          </a>
        </div>
      </div>
    </nav>
  </header>

  <main class="main">
    <!-- Sección hero -->
    <section class="main-section_cabecera">   
      <div id="cabecera" class="d-flex flex-column justify-content-center align-items-center" >
        <div class="row col-lg-12 text-center">
          <h1>Registro Asamblea <br> Cooperativa de Profesores de la Universidad Nacional </h1>
        </div>
      </div>
    </section>    
      
    <!-- Formulario -->
    <section class="main-section">
      <form class="main-section_form" action="/read" method="post">
        <div class="main-section_form_inpbox mb-4 col-mb-12" >
          <label for="cedula" class="form-label">
            <input type="text" class="form-control" id="cedula" name="cedula" aria-describedby="cedula" placeholder="Cédula" maxlength="10" required>
          </label>
        </div>
        <div class="mb-4 col-mb-12 main-section_form_button">
          <button type="submit" class="btn btn-primary btnconsultar" tabindex="5">Consultar</button>
        </div>
      </form>
    </section>
  </main>

  <!--Pie de página-->
  <footer class="footer">
    <div class="container-fluid text-center">
      <p>CooprofesoresUN  <br><b>all right reserved 2023</b> </p>
    </div>
  </footer>

  <!-- JavaScript -->
  <script src="/javascripts/register.js"></script>
  <script src="/javascripts/jquery-3.6.3.min.js"></script>
  <script src="/dist/js/bootstrap.min.js"></script>
  <script src="/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>