<!DOCTYPE html>
<html>
  <head>
    <title>Mi página</title>
  </head>
  <body>
    <h1>Información del dispositivo:</h1>
    <a href="/cookie">Establecer cookie</a>
    <a href="/obtenerCookie">Obtener información de la cookie</a>
  </body>
</html>