/*Seccion Hero*/
h1{
    padding: 2rem;
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-section{
    position: relative;
    padding: 2rem;
}

.main-article{
    position: relative;
    margin-left: 63%;
    transform: translate(-50%, -50%);

}

.btn{
    padding: 2rem 1rem;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}