/*Seccion Hero*/
h1{
  padding: 2rem;
  font-size: 4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-section{
  position: relative;
  padding: 1.5rem;
}

.main-section_form{
  width: 55rem;
  height: 30rem;
  padding: 1.5rem;
  border: 2px solid #000000;
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
}

.main-section_form_inpbox{
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-control{
  font-size: medium;
}

.main-section_form_button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.boton{
  margin: 1rem;
  font-size: 2rem;
  padding: 0.5rem;
}